<div class="gobuttons" id="go-btns-user-{{userid}}">
    {{#gouserreports}}
        <a class="btn btn-secondary" href="{{url}}">{{#pix}}bar-chart, block_readaloudteacher{{/pix}} {{title}}</a>
    {{/gouserreports}}
    {{#gousergrading}}
        <a class="btn btn-secondary" href="{{url}}">{{#pix}}star-o, block_readaloudteacher{{/pix}}{{title}}</a>
    {{/gousergrading}}
</div>